.side-drawer {
  height: 100%;
  background-color: white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  color: white;
  background-color: #3B3433;
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer ul {
  padding: 70px 30px;
}

.side-drawer ul li {
  list-style-type: none;
  padding-bottom: 10px;
  text-align: center;
  font-size: 1.5rem;
}

.side-drawer ul li a {
color: white;
text-decoration: none;
}

.side-drawer ul li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 410px) {
  .side-drawer ul li {
    font-size: 1rem;
  }
}