* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: midnightblue;
  display: grid;
  justify-items: center;
}

@font-face{
  font-family: "Mesquite";
  src: local("Mesquite"), url("./fonts/Blackhawk-3R58.otf") format("opentype");
}

@font-face{
  font-family: "Magneto";
  src: local("Magneto"), url("./fonts/Magneto-Bold.ttf") format("truetype");
}
